{% extends "layout.html" %}

{% block body %}
    <div class="container registrationSection mt-4">
        <div class="row">
            <form method="POST" action="">
                {{ form.hidden_tag() }}
                <fieldset class="form-group">
                    
                    <legend class="border-bottom mb-4"><h1>Login</h1></legend>

                    <div class="form-group">
                        {{ form.email.label(class="form-control-label") }}

                        {% if form.email.errors %}
                            {{ form.email(class="form-control is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.email.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.email(class="form-control") }}
                        {% endif%}
                    </div>

                    <div class="form-group">
                        {{ form.password.label(class="form-control-label") }}

                        {% if form.password.errors %}
                            {{ form.password(class="form-control is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.password.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.password(class="form-control") }}
                        {% endif%}
                    </div>

                    <div class="form-check">
                        {{ form.remember(class="form-check-input") }}
                        {{ form.remember.label(class="form-check-label") }}
                    </div>

                </fieldset>

                <button class="btn mvdl_btn">
                    {{form.submit(class="btn btn-success", value="Login")}}
                </button>
            </form>
        </div>
        <div class="border-top pt-3">
            <small class="text-muted" style="margin-right: 10px;">
                Need An Account? <a class="ml-2" href="{{ url_for('register') }}">Sign Up</a>
            </small>

            <small class="text-muted">
                Forgot The Password? <a class="ml-2" href="#">Recover it</a>
            </small>
        </div>
    </div>
{% endblock %}