// Custom.scss
// Option B: Include parts of Bootstrap

// Required
@import "../../bootstrap/scss/functions";
@import "../../bootstrap/scss/variables";
@import "../../bootstrap/scss/mixins";

// Optional
@import "../../bootstrap/scss/root";
@import "../../bootstrap/scss/reboot";
@import "../../bootstrap/scss/type";
@import "../../bootstrap/scss/images";
@import "../../bootstrap/scss/containers";
@import "../../bootstrap/scss/grid";


// Overriding default Sass Bootstrap Colors
$success: $green-400;

// Declaration of color variables
$gray01: #636363;
$gray02: #B8B8B8;
$gray03: #e1e1e1;
$gray04: #eeeeee;
$grayText: #0a0a0a;
$accent: #3288FA;
$lightBlue: #68AAFF;
$info:  #3288FA;

$theme-colors: (
    "primary":    $primary,
    "secondary":  $secondary,
    "success":    $success,
    "info":       $info,
    "warning":    $warning,
    "danger":     $danger,
    "light":      $light,
    "dark":       $dark,
    "gray01":     $gray01,
    "gray02":     $gray02,
    "gray03":     $gray03,
    "gray04":     $gray04,
    "grayText":   $grayText,
    "accent":     $accent,
    "lightBlue":  $lightBlue
);

// Bootstrap and its default and overriden variables
@import "../../bootstrap/scss/bootstrap";

// Styling

* {
    padding: 0px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    color: $grayText;
    box-sizing: border-box;
}

h1 {
    margin: 0px;
}

button, button:focus {
    border: none;
    outline: none;
    background: none;
    display: block;

    &.active {
        border: none;
        outline: none;
        background: none;
    }
}

.alert {
    padding: 0px;
}

.catalogue {
    margin: 0px;
    border-collapse: collapse;

    thead {
        background-color: $gray03;
        border-bottom: solid 3px $grayText;  
        border-style: hidden;
        /*Remove all the outside borders*/
    }

    th {
        text-align: center;
        padding: 1%
    }

    tbody {
        tr:nth-child(even) {
            background-color: $gray04;
        }

        td {
            border-right: $gray03 solid 1px;
            text-align: center;
            padding: 0.5%;
        }
    }
}

.container-fluid {
    padding: 20;
}

.form-createProject {
    padding-left: 25%;
    padding-right: 25%;

    margin-top: 15%;
    margin-bottom: auto;
}

.center-element {
    width: 100px;
    margin: 0 auto;
}

.gray-background {
    background-color: $gray03;
}

.darkGray-background {
    background-color: $gray02;
}

// Styles for the Project Page
.project-dashboard {

    * {
        margin: 0px;
        padding: 0px;
    }

}

@mixin project-panel {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;

    h2 {
        padding-left: 10px;
    }
}

.project-panel1 {
    @include project-panel();
    border-right: solid $gray02 3px;
}

.project-panel2 {
    @include project-panel();
}

.project-field {
    margin-top: 20px;

    padding-left: 10px;
    padding-right: 10px;
}

.form-group {

    ul {

        list-style-type: none;
        background-color: rgba(0,0,0,0);
        border: 0px;
        justify-content: space-between;
        
        li {
            float: left;
            margin: 0, auto, 0, auto;
            padding-left: 10%;
        }

    }

}

.projectTitle {
    border-bottom: solid black 6px;
    margin: 0px;
    padding: 0px;
}

.projectTitleText {
    padding-left: 10px;
}

.projectTitle-field {
    padding: 20px;
    border-right: $gray01 3px solid;
}

.toBottom {
    position: fixed;
    bottom: 0px;
}

.summary {
    background-color: $gray02;
    padding-top: 20px;
    padding-bottom: 10px;
    border-top: black solid 3px;
}

.calculateButton {
    width: 100%;
    height: 75px;
    background-color: $accent;
    color: $gray03;
    font-weight: 600;
    font-size: 2rem;
    padding: 10px;
    border-radius: 0px;
    border: none;

    &:hover {
        background-color: $lightBlue;
    }

    &:active {
        background-color: $accent;
    }
}

.lockedField {
    background-color: $gray04;
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none;
    pointer-events: none;
}

// Locking the selection of the radio buttons' labels in the project page
ul[id='fpShapeSelection'] {
    li {
        label {
            -webkit-user-select: none; /* Safari */
            -moz-user-select: none; /* Firefox */
            -ms-user-select: none; /* IE10+/Edge */
            user-select: none;
            pointer-events: none;
        }
    }
}

// Style for project buttons

@mixin interactiveButton {
    border: solid;
    border-radius: 50px;
    border-width: 10px;
    color: $grayText;

    margin: 10%;
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 5%;
    
    svg {
        height: 128;
        width: 128;
        fill: $grayText;
        fill-rule: evenodd;

        padding: 0;
        margin: 0;
    }

    p {
        font-size: 75px;
        font-weight: 400;
        text-align: center;
        text-decoration: none;
    }

    .row {
        padding-top: 25%;
        padding-bottom: 25%;
    }

    &:hover {
        color: $accent;

        svg {
            fill: $accent;
            fill-rule: evenodd;
        }
    
        p {
            color: $accent;
        }
    }

    &:active{
        color: $grayText;

        svg {
            fill: $grayText;
            fill-rule: evenodd;
        }
    
        p {
            color: $grayText;
        }
    }
}

.intBtn-1 {
    @include interactiveButton;
}

.intBtn-1-mlp25 {
    @include interactiveButton;
    margin-left: 2.5%;
}

.intBtn-1-mrp25 {
    @include interactiveButton();
    margin-right: 2.5%;
}

.mvdl_btn {
    transform: translateX(-12px)
}

.navbar-toggler {
    border-color: $grayText;
    border-width: 2px;
}

.nav-link {
    color: $grayText;
    font-weight: 700;
    font-size: 30;
    margin-left: 5;
    margin-right: 5;
}

.nav-link:hover {
    color: $gray03;
    //text-shadow: 2px 2px $grayText;
}

.nav-item {
    text-align: center;
    align-self: center;
    margin-left: 5px;
    margin-right: 5px;
    
    a {
        margin: 0;
        padding: 0;
    }

    .rightBorder {
        border-right: solid;
        border-color: $grayText;
    }

    .leftBorder {
        border-left: solid;
        border-color: $grayText;
    }
}

.no-decoration {

    * {
        text-decoration: none;
    }
    
}

.registrationSection {
    padding-left: 5%;
    padding-right: 5%;
}

.unselectable {
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
 
    /*
      Introduced in Internet Explorer 10.
      See http://ie.microsoft.com/testdrive/HTML5/msUserSelect/
    */
    -ms-user-select: none;
    user-select: none;
 }

#navigationBar {
    background-color: $accent;
    box-shadow: 0px 5px 10px rgb(72, 72, 72);
}



// Responsive

@mixin hide-responsive {
    display: none;
    visibility: collapse;
}

@media screen and (max-width: 992px) {
    .nav-item {
        text-align: right;
        border: none;
        align-self: unset;

        .nav-link {
            border: none;
        }
    }

    .navbar-collapse {
        margin-top: 15px;
    }

    .intBtn-1-mlp25 {
        @include interactiveButton();
        margin-left: 10%;
    }
    
    .intBtn-1-mrp25 {
        @include interactiveButton();
        margin-right: 10%;
    }

    .hide-responsive {
        @include hide-responsive();
    }

}

@media screen and (max-width: 600px) {
    
    .intBtn-1-mlp25 {
        @include interactiveButton();
        margin-left: 10%;
    }
    
    .intBtn-1-mrp25 {
        @include interactiveButton();
        margin-right: 10%;
    }

    .hide-responsive {
        @include hide-responsive();
    }

    .form-group {
        ul {
            li {
                float: none;

                padding-left: 0;
            }
        }
    }

    .projectTitleText {
        font-size: 0.6rem;
    }

    .project-panel1 {
        @include project-panel();
        border: none;
        border-bottom: solid $gray02 3px;
        justify-content: start;
    }
    
    .project-panel2 {
        @include project-panel();
        justify-content: start;
    }
}